<div class="card card-custom gutter-b">
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">Registro Ultra Sonido</h3>
        <h3>{{ status }}</h3>
      </div>
      <div class="card-toolbar">
        <a type="button" class="btn btn-secondary" routerLink="/Ultra-Sonido" >Regresar</a>
      </div>
    </div>
    <div class="card-body">
        <form class="example-form">
            <h6 class="text-center">Información Paciente</h6>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <label for="">Nombre del Paciente:</label>
                    <input type="text" class="form-control form-control-solid ">
                </div>
                <div class="col-md-4">
                    <label for="">Apellido Paterno:</label>
                    <input type="text" class="form-control form-control-solid ">
                </div>
                <div class="col-md-4">
                    <label for="">Apellido Materno:</label>
                    <input type="text" class="form-control form-control-solid ">
                </div>
                
            </div>

            <div class="row">
                <div class="col-md-3">
                    <label for="">Fecha de Nacimiento:</label>
                    <input type="date" class="form-control form-control-solid ">
                </div>
                <div class="col-md-3">
                    <label for="">Correo:</label>
                    <input type="text" class="form-control form-control-solid ">
                </div>
                <div class="col-md-3">
                    <label for="">Telefono de Contacto:</label>
                    <input type="text" class="form-control form-control-solid ">
                </div>
                <div class="col-md-3">
                    <label for="">Fecha de Ingreso:</label>
                    <input type="date" class="form-control form-control-solid ">
                </div>
            </div>
            <h6 class="text-center mt-3">Estudios</h6>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <label for="">Buscar Estudio</label>
                    <div class="d-flex flex-row">
                        <select name="" id="" class="form-control">
                            <option value="Covid-19">Covid-19</option>
                        </select>
                        <button class="btn ml-1 btn-success" (click)="testing()">
                            <i class="flaticon2-add"></i>
                        </button>
                    </div>
                </div>
            </div>





            <hr>
            <div class="col-md-12 text-center">
                <button class="btn btn-primary">
                    Registrar Toma
                </button>
            </div>
        </form>
    </div>
  </div>